* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("http://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max") ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%
}

li {
  text-decoration: none;
}

nav {
  display: -webitkit-flex;
  display: -moz-;
  display: -ms-;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items:  center;
  padding: 30px 70px;

}

.Navbar-options {
  list-style: none;

}

.Navbar-options li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
}

.Home {
  color: limegreen;
  font-size: 40px;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  display:flex;
  justify-content: center;
  align-items: center;

}

.Footer {
  display: flex;
  color: white;
  background-color: none;
  align-content: flex-end;
  justify-content: center;
  margin-top: auto;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 30px;
}
#git{
  font-size: 30px;
  margin: 5px;

}
#link{
  font-size: 30px;
  margin: 5px;
}
.Create-New {
  border: 2px solid white;
  border-radius: 4px;

}
.Monthly-list {
  border: 2px solid white;
  border-radius: 4px;

}

.create-log {
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color:limegreen;
  width: 50%
}
h3 {
  display: flex;
  color:limegreen;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.Create-wrap {
  width: 800px;
margin: 5% auto;
}

.create-log{
  display:flex;
  background: rgba(0,0,0,0.5);
  border-radius: 25px;
  padding: 1.9em;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}


.Monthly-list {
  color: white;

}

